#wel8
{
    display: block;
    text-align: center;
    background-image: url("../images/feelings.jpeg") !important;
    background-size: auto   ;
    padding:10%;
    color: white;
    margin:0;


}

#welcomeTitle{
    font-size:40px
}

#questionsContainer{
    display: block;
    text-align: center;
    background-image: url("../images/moviebackground.jpg") !important;
    padding:10%;
    color: white;


}




#question{}